h1{
    color: darkred; 
 }
 img{
     width: 400px;
 }
 #thirdDiv{
     height: 600px;
     width: 500px;
     background-color: darkslateblue;
     padding: 50px;
     border: 5px dashed orange;
 }
 #spanId{
     font-size: 18px;
     margin: 50px;
 }